@font-face {
  font-family: "iconfont"; /* Project id 2963747 */
  src: url('iconfont.woff2?t=1637812089163') format('woff2'),
       url('iconfont.woff?t=1637812089163') format('woff'),
       url('iconfont.ttf?t=1637812089163') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shouye:before {
  content: "\e62e";
}

.icon-shouji:before {
  content: "\e600";
}

.icon-roundcheckfill:before {
  content: "\e656";
}

.icon-sousuotianchong:before {
  content: "\e694";
}

.icon-31sousuo:before {
  content: "\e601";
}

.icon-31huiyuan:before {
  content: "\e602";
}

.icon-geren2:before {
  content: "\e6bc";
}

.icon-geren:before {
  content: "\e652";
}

.icon-add-circle:before {
  content: "\e627";
}

.icon-jiantou:before {
  content: "\e6b5";
}

.icon-jiantou1:before {
  content: "\e6b6";
}

.icon-waimai-:before {
  content: "\e607";
}

.icon-thumbs-b:before {
  content: "\e797";
}

.icon-fenxiang:before {
  content: "\e624";
}

.icon-dingdan:before {
  content: "\e645";
}

.icon-xuanxiang:before {
  content: "\e670";
}

.icon-remove:before {
  content: "\e603";
}

.icon-zengjia:before {
  content: "\e8c0";
}

.icon-aixin:before {
  content: "\e8c3";
}

.icon-dianzan:before {
  content: "\e8c4";
}

.icon-zengjia1:before {
  content: "\e8c8";
}

.icon-dingdandanjuwenjian-2:before {
  content: "\e612";
}

.icon-fuwutai:before {
  content: "\e608";
}

.icon-shopping:before {
  content: "\e604";
}

.icon-jifen:before {
  content: "\e60e";
}

.icon-favorites-fill:before {
  content: "\e721";
}

.icon-add:before {
  content: "\e742";
}

.icon-arrow-right:before {
  content: "\e743";
}

.icon-arrow-left:before {
  content: "\e744";
}

.icon-cart-full:before {
  content: "\e746";
}

.icon-close:before {
  content: "\e747";
}

.icon-good-fill:before {
  content: "\e780";
}

.icon-success-fill:before {
  content: "\e78d";
}

